<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-..."
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>it</title>
  </head>
  <body class="Right_left_body">
    <div  class="left">
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-hospital-user" style="color: #9fc2e1;"></i>
            <p style="color: #9fc2e1;">Today's Patient</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-file-waveform"></i>
            <p>Patient Files</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fas fa-tasks"></i>
            <p>Tasks</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fas fa-flask"></i>
            <i class="fas fa-syringe"></i>
            <p>Tests</p>
          </a>
        </center>
      </div>
    </div>

    <div class="right">
      <input type="text" class="it_search" id="TodaysearchInput" placeholder="Search..." onkeyup="TodaysearchFunction()" style="margin-bottom: 20px;" />

      <ul class="show_today_container" id="today-items">
        <% admission_patients.forEach(admission_patient => { %>
          <div class="today-item" data-name="<%= admission_patient.patient_name %>" data-number="<%= admission_patient.phone_number %>">
            <form action="admissionPatient" method="POST" autocomplete="off">
              <input type="hidden" name="file_id" value="<%= admission_patient.file_id %>" >
              <div class="file-id"><span> ID: </span> <%= admission_patient.file_id %></div>
              <div class="patient-name"> <span>Name:  </span><%= admission_patient.patient_name %></div>
              <div class="phone-number"><span>Number:  </span> <%= admission_patient.phone_number %></div>
              <div class="phone-number"><span>Room Number:  </span> <%= admission_patient.room_name %></div>

              
              <span>Date:  </span> <%= admission_patient.date_added.toLocaleString() %>

            </form>
            <a class="delete" data-dtask="<%= admission_patient.file_id%>" href="">Delete</a>
            <form action="admissionPatient" method="post">
              <input type="hidden" name="file_id" value="<%= admission_patient.file_id %>" >
              <input type="submit" name="taskIds" value="open file">
            </form>
          </div>
        <% }) %>
      </ul>
      <script>
        function TodaysearchFunction() {
          var input, filter, ul, li, divs, i, txtValue;
          input = document.getElementById("TodaysearchInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("today-items");
          li = ul.getElementsByTagName("div");
          for (i = 0; i < li.length; i++) {
            divs = li[i].getElementsByTagName("div");
            for (var j = 0; j < divs.length; j++) {
              txtValue = divs[j].textContent || divs[j].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
                break;
              } else {
                li[i].style.display = "none";
              }
            }
          }
        }
      </script>
      
    
    
    
    <script>
        document.querySelectorAll("a.delete").forEach((trashcan) => {
          trashcan.addEventListener("click", (e) => {
            e.preventDefault(); // Prevent the default action of the link
    
            const endpoint = `/admissionPatient/${trashcan.dataset.dtask}`;
    
            fetch(endpoint, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => (window.location.href = data.redirect))
              .catch((err) => console.error(err));
          });
        });
      </script>



      <script src="script.js"></script>

    </div>
  </body>
</html>




