<h1>Case History</h1>
<CEnter>
<ul>
  <% patient_cases.forEach(casee => { %>
    <li class="scan_page">
      <span>Admission Date:</span> <%= casee.case_time.toLocaleDateString() %><br>
      <hr>
      <span>Case ID:</span> <%= casee.case_id %> <span>Doctor ID:</span> <%= casee.dr_id %> <br><span>Symptoms:</span> <%= casee.symptoms %>

      <br><span>date l 5oroj:</span> <%= casee.case_time_end.toLocaleDateString() %>
      <div class="asa2">
        <fieldset>
          <legend>SDS History and Nursing Assessment 1/2</legend>
          <div class="question-answer-pair">
            <span class="question">date_time:</span>
            <div class="answer"><%= casee.q1 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">mode_of_arrival:</span>
            <div class="answer"><%= casee.q2 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">planned_surgery_name:</span>
            <div class="answer"><%= casee.q3 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">site_of_planned_surgery:</span>
            <div class="answer"><%= casee.q4 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">admission_through:</span>
            <div class="answer"><%= casee.q5 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">emotional_status:</span>
            <div class="answer"><%= casee.q6 %></div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Biographic Data</legend>
          <div class="question-answer-pair">
            <span class="question">marital_status:</span>
            <div class="answer"><%= casee.q7 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">profession:</span>
            <div class="answer"><%= casee.q8 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">patient_height:</span>
            <div class="answer"><%= casee.q9 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">patient_weight:</span>
            <div class="answer"><%= casee.q10 %></div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Functional Data</legend>
          <div class="question-answer-pair">
            <span class="question">ambulating:</span>
            <div class="answer"><%= casee.q11 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">feeding:</span>
            <div class="answer"><%= casee.q12 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">bathing:</span>
            <div class="answer"><%= casee.q13 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">blood_group:</span>
            <div class="answer"><%= casee.q14 %></div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Life style and health practices</legend>
          <div class="question-answer-pair">
            <span class="question">alcohol:</span>
            <div class="answer"><%= casee.q15 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">exercise:</span>
            <div class="answer"><%= casee.q16 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">smoking:</span>
            <div class="answer"><%= casee.q17 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">dietary_habits:</span>
            <div class="answer"><%= casee.q18 %></div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Allergies</legend>
          <div class="question-answer-pair">
            <span class="question">modify_allergy:</span>
            <div class="answer"><%= casee.q19 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">allergy_to_contrast:</span>
            <div class="answer"><%= casee.q20 %></div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Health History</legend>
          <div class="question-answer-pair">
            <span class="question">past_medical_history:</span>
            <div class="answer"><%= casee.q21 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">past_surgical_history:</span>
            <div class="answer"><%= casee.q22 %></div>
          </div>
          <div class="question-answer-pair">
            <span class="question">special_medical_considerations:</span>
            <div class="answer"><%= casee.q23 %></div>
          </div>
        </fieldset>
        
        
        </div>
        
    </li>
  <% }) %>
</ul>
</CEnter>
<style>body {
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    background-color: white;
    color: rgb(3, 49, 92);
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(3, 49, 92);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
.answer{
  color: rgb(3, 49, 92);

}
  .scan_page {
    background-color: #9fc2e1;
    margin-top: 10px;
    width: 60vw;
    border-radius: 15px;
    padding: 10px;
  }
  
  .scan_page span {
    color: white;
  }
  .question-answer-pair {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question {
  font-weight: bold;
  margin-right: 10px;
}

.answer {
  flex-grow: 1;
}

  </style>