<h1>Register</h1>
<form action="/register" method="post">
    <div>
        <label for="role">role</label>
        <input type="text"  id="role" name="role" >
    </div>
<div>
    <label for="name">Name</label>
    <input type="text"  id="name" name="name" >
</div>
<div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" >
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" >
</div>

<div>
    <label for="birthDate">Date of Birth</label>
    <input type="date"  id="birthDate" name="birthDate" >
</div>

<div>
    <label for="section">Section</label>
    <input type="text"  id="section" name="section" >
</div>
<div>
    <label for="rank">Rank</label>
    <input type="number"  id="rank" name="rank" >
</div>
<div>
    <label for="phoneNumber">Phone number</label>
    <input type="number"  id="phoneNumber" name="phoneNumber" >
</div>
<div>
    <label for="spaciality">spaciality</label>
    <input type="text"  id="spaciality" name="spaciality" >
</div>
<div>
    <label for="staffSpaciality">Staff spaciality</label>
    <input type="text"  id="staffSpaciality" name="staffSpaciality" >
</div>
<div>
    <label for="type">Type</label>
    <input type="text"  id="type" name="type" >
</div>
<button type="submit">Register</button>
</form>
<a href="/login">Login</a>




<h1>Doctors List</h1>
<ul>
    <% doctors.forEach(doctor => { %>
        <li><%= doctor.name %> - <%= doctor.email %> - <%= doctor.spaciality %></li>
    <% }) %>
</ul>

<h1>Nurses List</h1>
<ul>
    <% nurses.forEach(nurse => { %>
        <li><%= nurse.name %> - <%= nurse.email %> - <%= nurse.section %></li>
    <% }) %>
</ul>

<h1>Staff List</h1>
<ul>
    <% staff.forEach(staffMember => { %>
        <li><%= staffMember.name %> - <%= staffMember.email %> - <%= staffMember.staffSpaciality %></li>
    <% }) %>
</ul>

