<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab</title>
</head>
<body>
    <form action="/scan" method="post" enctype="multipart/form-data">
        <div>
            <label for="scan_name">Test Name:</label>
            <input type="text" id="scan_name" name="scan_name">
            <select name="patient_id">
                <% dr_patients.forEach(patient => { %>
                <option value="<%= patient.file_id  %>"><%= patient.patient_name  %></option>
                <% }) %>
              </select>
            <input type="file" name="file">
            <input type="submit">
        </div>
       
    </form>
    
    <% if (scanData) { %>
        <table>
            <tr>
                <th>Test Name</th>
                <th>Doctor Name</th>
                <th>file id</th>
                <th>File</th>
            </tr>
            <% scanData.forEach(item => { %>
            <tr>
                <td><%= item.scan_name %></td>
                <td><%= item.dr_id %></td>
                <td><%= item.file_id %></td>
                <td><% if (item.result) { %>
                    <a href="../file_uploads/<%= item.result %>" target="_blank" rel="noopener noreferrer">View results</a>
                    <% }%>
                </td>
            </tr>
            <% }); %>
        </table>
    <% } else { %>
        <p>No data available</p>
    <% } %>


    <% if (isDoctor) { %>
        <h1 style="color: rgb(3, 49, 92)">Welcome, Doctor!</h1>
  
        <% } else { %>
        <h1 style="color: rgb(3, 49, 92)">You are not a doctor.</h1>
        <!-- Other content for non-doctors -->
        <% } %>
        <% if (isScan) { %>
            <h1>lab staff</h1>
            <% } %>
        <center>
          <script>
           
           var isDoctor = '<%= JSON.stringify(isDoctor) %>;'
           var isScan = '<%= JSON.stringify(isScan) %>;'
          console.log("Is user a doctor?", isDoctor);
          console.log("Is user a doctor?", isScan);

        </script>
</body>
</html>
