<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-..."
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scan</title>
  </head>
<body>
    <style>
        #logoutForm button{
          border-radius: 5px;
          float: right;
          background-color: #9fc2e1;
          color: white;
          padding: 7px;
          border: none;
      font-size: 1.2em
      
        }
      </style>
          <div class="right">
            <form id="logoutForm" action="/logout" method="POST"> <!-- Form submission method set to POST -->
              <input type="hidden" name="_method" id="methodOverride" value="DELETE"> <!-- Method override for DELETE -->
              <input type="hidden" name="originalMethod" value="POST"> <!-- Store the original method -->
              <button type="submit">Log Out</button> <!-- Submit button -->
          </form>
          <script>
            document.getElementById("logoutForm").addEventListener("submit", function(event) {
                const originalMethod = document.getElementById("logoutForm").elements["originalMethod"].value;
                document.getElementById("methodOverride").value = originalMethod; // Set method override to original method
            });
        </script>
    <style>
        .scan-grid-container {
    position: relative;
    padding: 10px;
    font-size: 1.2em;
    color: rgb(3, 49, 92);

    border-radius: 20px;
    width: 88vw;
margin-top: 20px;
background-color:#9fc2e1;
            display: grid;
            grid-template-columns: 2fr 1fr; /* Two equal columns */
        }
        

        .scan-right-grid {
            border-left: 1px solid lightgrey;
        }
        
        .scan-info {
            display: inline;
        }
        
        .info-heading {
            font-weight: bold;
        }
        
        .info-item {
            display: inline;
            margin-top: 5px;
        }
        .info-label{
            margin-left: 35px;
            color: white;
        }
        .scan-grid-container input[type="submit"]{
            color: rgb(3, 49, 92);
            background-color: white;
            font-size: 0.9em;
            border-radius: 5px;
            font-weight: 600;
            border: none;
            width: 7vw;
            padding: 5px;
            right: 10px;
            bottom: 5px;
        position: absolute;
        }
    </style>
    <br>
    <input style="margin: 20px;" type="text" class="it_search"id="searchInput" placeholder="Search..." onkeyup="searchFunction()" />

        <center>
            <div class="Lab_form">
          <h1 style="text-align: left;  color: rgb(3, 49, 92); font-size: 1.5em;" >Request scan</h1>
          <form action="/scan" method="post" enctype="multipart/form-data">

            <div>
                <br>
                <label style="display: inline;"> Patient ID:</label>
                <select name="patient_id" class="custom-select">
                    <option value="">Choose Patient</option>
                    <% dr_patients.forEach(patient => { %>
                    <option value="<%= patient.file_id  %>"><%= patient.patient_name  %></option>
                    <% }) %>
                   
                  </select>
                  <br><br>
                <label for="scan_name">Test Name:</label>
                <input type="text" id="scan_name" name="scan_name">

    
                <input type="submit">
            </div>
           
        </form>
        </div>
        </center>
            <% if (scanData) { %>

                <% scanData.forEach(item => { %>
                    <center>
                                            <div class="scan-grid-container">
                        <div class="scan-left-grid">
                            <br>
                            <div class="scan-info">
                                <div class="info-item"><span class="info-label">Scan ID:</span> <%= item.scan_id %></div>
                            </div>
                            <div class="scan-info">
                                <div class="info-item"><span class="info-label">Test Name:</span> <%= item.scan_name %></div>
                            </div>
                            <div class="scan-info">
                                <div class="info-item"><span class="info-label">Doctor ID:</span> <%= item.dr_id %></div>
                            </div>
                            <div class="scan-info">
                                <div class="info-item"><span class="info-label">File ID:</span> <%= item.file_id %></div>
                            </div>
                        </div>
                        
                        <!-- Horizontal line separator between left and right grids -->
                        <div class="scan-right-grid">

                                    <% if (item.result) { %>
                                        <div class="scan-info" style="margin-top: 40px;">
                                            <div class="info-heading" style="color: white; display: inline; font-weight: 400;"> Results:</div>
                                            <div class="info-item" style="display: inline; ">
                                        <a href="../file_uploads/<%= item.result %>" target="_blank" rel="noopener noreferrer"> <i class="far fa-file-alt" style="color: rgb(3, 49, 92); padding: 5px; "></i></a>
                                    <% } else { %>

                                        <form action="/scan" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="file_idd" value="<%= item.scan_id  %>">
<div class="file_container">
    <label style=" color: white; text-align: left;">   Results:</label>
    <div id="no_res"  style="display: none;">No Results Published</div>
    <div class="hidee" style="margin-top: 0; display: inline;">    <!-- Hide the input visually -->
        <label for="file" class="file-label"> <i class="fas fa-upload" style="color: rgb(3, 49, 92);  border-radius: 5px; background-color: white; padding: 5px;"></i></label>
        <input type="file" id="file" class="file-input" name="file" >



                                    
                                        </div>
                                            <input type="submit" id="sub">
                    </form>
                                    <% } %>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } 
            else { %>
                <p>No data available</p>
            <% } %>
            

          <script>
           
           var isDoctor = '<%= JSON.stringify(isDoctor) %>'
           var isScan = '<%= JSON.stringify(isScan) %>'
           if (isDoctor == 'true') {
            var ssElements = document.querySelectorAll('#sub');
            ssElements.forEach(function(element) {
                element.style.display = 'none';
            });
            
            var hideeDivs = document.querySelectorAll('.hidee');
            hideeDivs.forEach(function(div) {
                div.style.display = 'none';
            });
            var noResElements = document.querySelectorAll('[id^="no_res"]');
            noResElements.forEach(function(element) {
                element.style.display = 'block';
            });
            
           }

           if(isScan=="true"){
             function hideLabForm() {
               var labForm = document.querySelector('.Lab_form');
               if (labForm) {
                 labForm.style.display = 'none';
               } else {
                 console.error('Lab form not found.');
               }
             }
             hideLabForm();
           }
           else{


           }
 
        </script>
</body>
</html>
