<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-..."
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>it</title>
  </head>

  <body class="Right_left_body"  >
    <div class="left">
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-hospital-user"></i>
         <p>Today's Patient</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fa-solid fa-file-waveform"></i>
            <p>Patient Files</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fas fa-tasks" style="color:#9fc2e1;"></i>
            <p style="color: #9fc2e1;">Tasks</p>
          </a>
        </center>
      </div>
      <div class="left_nav">
        <center>
          <a href="">
            <i class="fas fa-flask"></i>
            <i class="fas fa-syringe"></i>
            <p>Tests</p>
          </a>
        </center>
      </div>
    </div>

    <div class="right">
     
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const isDoctor = '<%= JSON.stringify(isDoctor) %>';
          console.log(isDoctor);
          const submitButton = document.querySelector('.task_but');
          const taskForm = document.querySelector('.task_form');
        
            if (isDoctor === "true") {
                  // Hide checkboxes and submit button for doctors
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        if (checkboxes.length > 0) {
          checkboxes.forEach(checkbox => checkbox.style.display = 'none');
        }
        submitButton.style.display = 'none';
             
            } else {
              // Hide delete buttons for nurses
              const deleteButtons = document.querySelectorAll('.delete');
              if (deleteButtons.length > 0) {
                deleteButtons.forEach(button => button.style.display = 'none');
              }
              console.log('nurse');
              // Hide the task form for nurses
              taskForm.style.display = 'none';
            }
          }
        );
      </script>
      <center>
        <div class="task_form">
          <form action="/tasks" method="post">
            <div>

             <p style="display: inline;"> patient ID:</p> 
             <select name="patient_id">
                
                <% dr_patients.forEach(patient => { %>
                <option value="<%= patient.file_id  %>" class="task_id"><%= patient.patient_name  %></option>
                <% }) %>
              </select>
            </div>
            <br>
            <input type="hidden" name="formType" value="addTask" required />
            <!-- This line was added -->
            <div>
              <label for="details">Details</label><br />
              <textarea required
                name="details"
                id="details"
                cols="30"
                rows="10"
              ></textarea>
            </div>
            <button type="submit">Add Task</button>
          </form>
        </div>
      </center>
      <div class="task_under">
        <h1>Tasks List</h1>

        <!-- Submit Tasks Form -->
        <form id="submitTasksForm" action="/tasks" method="POST">
          <input type="hidden" name="formType" value="submitTasks" />
          <!-- This line was added -->

          <ul>
            <% for (let i = 0, d = 0; i < tasks.length || d <
            done_task_nurse_info.length; i++, d++) { const task = tasks[i];
            const nurseInfo = done_task_nurse_info[d]; %>
            <div>
              <input
                type="checkbox"
                name="taskIds"
                value="<%= task.task_id %>"
              />
              <a class="delete" data-dtask="<%= task.task_id  %>" href=""
                >Delete</a
              >
            
             

              <span> File ID: </span>
              <%= task.file_id %>
              <span>Task ID: </span>
              <%= task.task_id %> <br />
              <hr style="background-color: white; font-weight: 400; border: none; height: 2px;">
              <br>
              <span>Task Ditails:</span>
              <p class="task-details" style="display: inline; font-weight: 400;"><%= task.details %></p>
              <br /><br>
           <div style="color: grey; font-weight: 400; font-size: 1em;">               <a class="created_by">
                <span  style="color: grey; font-weight: 400; font-size: 1em;">Created by:</span>
                <div style="display: inline; color: grey; font-weight: 400; font-size: 1em;">  <%= task.doctor_name %> </div>  <span style="color: grey; font-weight: 400; font-size: 1em;">during:</span> <div style="display: inline; color: grey; font-weight: 400; font-size: 1em;"> <%= task.added_date.toLocaleString()
                %></div> 
              </a>

              <% if (nurseInfo) { %>
              <span style="color: grey; font-weight: 400; font-size: 1em;">Done By:</span> Nurse: <%= nurseInfo.name %> <% } %>
            </div>

              <!-- delete is not supported in html only get and post -->
            </div>
         
            <% } %>
          </ul>
          <button class="task_but" type="submit">Submit</button>
        </form>
      </div>
      <script>
        document.querySelectorAll("a.delete").forEach((trashcan) => {
          trashcan.addEventListener("click", (e) => {
            e.preventDefault(); // Prevent the default action of the link

            const endpoint = `/tasks/${trashcan.dataset.dtask}`;

            fetch(endpoint, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => (window.location.href = data.redirect))
              .catch((err) => console.error(err));
          });
        });
      </script>
    </div>
    <script src="script.js">
      
    </script>
  </body>
</html>
